*::selection {
  background-color: #0c0c0c;
  color: #F1F4EF;
}

body {
  margin: 0;
  font-family: "Courier New" , Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #0c0c0c 0%, #222222 100%) center center no-repeat;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}